# Newyork Yellow Taxi Trip Data Analysis

https://www.kaggle.com/datasets/microize/newyork-yellow-taxi-trip-data-2020-2019/data


## Dataset description


#### Analysis ideas:
- basic satistics such as mean, median, fashion, variance, standard deviation, minimum, maximum, quantiles, etc. for each attribute
- distribution of number of passengers per trip
- distribution of the number of trips for each hour of the day
- distribution of pickups and drop-offs for each city area
- distribution of payment types
- frequnction of "store and forward" trips (booked trips) and comparison with other types of trips
- distribution of tip (tip) amounts for each hour of the day
- distribution of toll amounts
- distribution of total amounts
- understanding whether there are correlations between costs, times, and distances

In [6]:
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go

df = pd.read_csv('./data/yellow_tripdata_2019-01.csv', index_col=None, header=0)

In [10]:


df.info(verbose=True, memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7667792 entries, 0 to 7667791
Data columns (total 18 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   object
 2   tpep_dropoff_datetime  object
 3   passenger_count        int64
 4   trip_distance          float64
 5   RatecodeID             int64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
dtypes: float64(9), int64(6), object(3)
memory usage: 2.4 GB

In [14]:
df.describe()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,...,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,hour,day,month,year,dayofweek,dayofyear
count,7.667792e+06,7667792,7667792,7.667792e+06,7.667792e+06,7.667792e+06,7.667792e+06,7.667792e+06,7.667792e+06,7.667792e+06,...,7.667792e+06,7.667792e+06,7.667792e+06,2.811814e+06,7.667792e+06,7.667792e+06,7.667792e+06,7.667792e+06,7.667792e+06,7.667792e+06
mean,1.636775e+00,2019-01-17 00:56:50.984521728,2019-01-17 01:13:19.857630464,1.567078e+00,2.801084e+00,1.058371e+00,1.655009e+02,1.637529e+02,1.291776e+00,1.240941e+01,...,3.169187e-01,2.993382e-01,1.568222e+01,3.289691e-05,1.378432e+01,1.647531e+01,1.000577e+00,2.019000e+03,2.907454e+00,1.649283e+01
min,1.000000e+00,2001-02-02 14:55:07,2001-02-02 15:07:27,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-3.620000e+02,...,-7.000000e+01,-3.000000e-01,-3.628000e+02,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,2.001000e+03,0.000000e+00,1.000000e+00
25%,1.000000e+00,2019-01-09 17:41:37,2019-01-09 17:57:20.750000128,1.000000e+00,9.000000e-01,1.000000e+00,1.300000e+02,1.130000e+02,1.000000e+00,6.000000e+00,...,0.000000e+00,3.000000e-01,8.190000e+00,0.000000e+00,1.000000e+01,9.000000e+00,1.000000e+00,2.019000e+03,1.000000e+00,9.000000e+00
50%,2.000000e+00,2019-01-16 22:17:21,2019-01-16 22:31:58,1.000000e+00,1.530000e+00,1.000000e+00,1.620000e+02,1.620000e+02,1.000000e+00,8.500000e+00,...,0.000000e+00,3.000000e-01,1.127000e+01,0.000000e+00,1.400000e+01,1.600000e+01,1.000000e+00,2.019000e+03,3.000000e+00,1.600000e+01
75%,2.000000e+00,2019-01-24 19:13:23.249999872,2019-01-24 19:28:55.249999872,2.000000e+00,2.800000e+00,1.000000e+00,2.340000e+02,2.340000e+02,2.000000e+00,1.350000e+01,...,0.000000e+00,3.000000e-01,1.656000e+01,0.000000e+00,1.900000e+01,2.400000e+01,1.000000e+00,2.019000e+03,4.000000e+00,2.400000e+01
max,4.000000e+00,2088-01-24 00:25:39,2088-01-24 07:28:25,9.000000e+00,8.318000e+02,9.900000e+01,2.650000e+02,2.650000e+02,4.000000e+00,6.232599e+05,...,3.288000e+03,6.000000e-01,6.232617e+05,2.500000e+00,2.300000e+01,3.100000e+01,1.200000e+01,2.088000e+03,6.000000e+00,3.660000e+02
std,5.398204e-01,NaN,NaN,1.224431e+00,3.737529e+00,6.780889e-01,6.639180e+01,7.036445e+01,4.733229e-01,2.620721e+02,...,2.023665e+00,1.911711e-02,2.622932e+02,9.068695e-03,5.941854e+00,8.818889e+00,7.850465e-02,4.896738e-02,1.875891e+00,9.161300e+00